<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>mime.types - Media Types with File Extensions</title>
  <style>
    body { font-family: system-ui, sans-serif; }
  </style>
</head>
<body>
<pre>
{{ mime_types | urlize }}
</pre>
</body>
</html>
